<div class='week-view'>
	<a class='btn btn-default' ng-click='monthView()'>Switch to Month View</a>
	<hr/>
	<div class='row week-view-details'>
		<div class='days-view col-xs-3 col-md-3'>
			<div class='week-navigator'>
				<a class='btn' ng-click='previousWeek()'>
					<i class='glyphicon glyphicon-circle-arrow-left'></i>
				</a>
				<a>Week1</a>
				<a class='btn' ng-click='nextWeek()'>
					<i class='glyphicon glyphicon-circle-arrow-right'></i>
				</a>
			</div>
			<div container-list collection='collection' class-names='list-unstyled' 
				click-event='dayClicked' show='showList' selected-id='selectedDateId' 
					item-template='day-of-week-list-item'>
			</div>
		</div>
		<div day-detail-view selected-id='selectedDateId' today='today'></div>
	</div>
</div>